# requirements.in
apipkg
atomicwrites
attrs
certifi
chardet
cmd2
colorama
coverage
delayed-assert
execnet
exrex
graphviz
idna
Mako
Markdown
MarkupSafe
more-itertools
netifaces
numpy
pdoc3
pluggy
ply
py
pyparsing
pyperclip
pypng
pytest
pytest-cov
pytest-forked
pytest-xdist
python-utils
requests
scapy
scipy
six
tqdm
urllib3
wcwidth
z3-solver